td.tpl-points {
  position: relative;
}

td.tpl-error {
  background-color: red !important;
}

span.tpl-putts {
  font-size: smaller;
  color: lightgray;
  font-weight: bold;
  position: absolute;
  bottom: -2px;
  right: 2px;
}
