.tpl-points {
  position: relative;
}

.tpl-error {
  background-color: red;
}

.tpl-putts {
  font-size: smaller;
  color: lightgray;
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  right: 3px;
}
